@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #222222;
  font-family: "LINESeedKR";
}

.header_1 {
  width: 100%;
  height: 90px;
  line-height: 50px;
  border-top: 5px solid #182c8d;
  position: relative;
}
.header_1 ul {
  width: 32%;
  height: 40px;
  justify-content: flex-end;
  right: 30px;
  position: absolute;
  top: 0;
}
.header_1 ul li {
  width: 80px;
  height: 20px;
  text-align: center;
  font-size: 8px;
  border-right: 1px solid #222;
  font-family: "LINESeedKR";
  font-weight: bold;
  align-self: end;
  position: relative;
  padding: 0 0 0 4px;
}
.header_1 ul li a {
  width: 100%;
  position: absolute;
  top: -16px;
  right: 3px;
}

.header_1 li:nth-of-type(1) {
  width: 40px;
}

.header_1 li:nth-of-type(2) {
  width: 60px;
}

.header_1 li:nth-of-type(3) {
  width: 65px;
}

.header_1 li:nth-of-type(5) {
  border: 0px;
}

.flex_ {
  display: flex;
}

#header_box {
  width: 1130px;
  height: 50px;
  margin: 0 auto;
}
#header_box #logo {
  width: 180px;
  height: 35px;
}
#header_box #logo > img {
  width: 100%;
  height: 100%;
}
#header_box .seach {
  width: 500px;
  height: 50px;
  border: 2px solid #222222;
  border-radius: 10px;
  margin-left: 50px;
}

.header_list {
  width: 1130px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.header_list .hidden > ul {
  width: 3040px;
  height: 50px;
  position: absolute;
  bottom: 0;
  justify-content: space-around;
}
.header_list .hidden > ul li {
  width: 175px;
  height: 50px;
  background-color: gold;
  font-size: 11px;
}
.header_list .hidden > ul lili:nth-of-type(2) {
  width: 120px;
}
.header_list .hidden > ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_list .hidden > ul li a img {
  width: 36px !important;
  height: 36px;
}
.header_list .hidden > ul li a span {
  width: 110px;
  height: 100%;
  margin-left: 6px;
  margin-top: 26px;
}

.hidden > ul > li:nth-of-type(2) a span {
  width: 133px;
}

.hidden ul li:nth-of-type(1) > .list2 {
  width: 175px;
  height: 50px;
  position: relative;
  z-index: 100;
}
.hidden ul li:nth-of-type(1) > .list2 > li {
  position: relative;
  font-size: 16px;
  line-height: 50px;
  left: 1px;
  background-color: rgba(34, 34, 34, 0.8);
  width: 165px;
}
.hidden ul li:nth-of-type(1) > .list2 > li:hover {
  background-color: rgba(34, 34, 34, 0.5);
}
.hidden ul li:nth-of-type(1) > .list2 > li > a {
  width: 100%;
  height: 100%;
  display: block;
  font-family: "LINESeedKR-Bd";
  color: #eee;
  padding-left: 35px;
}

.btn {
  width: 100px;
  height: 50px;
  background-color: purple;
  position: absolute;
  right: 0;
  bottom: 0;
}
.btn div {
  width: 50px;
  height: 100%;
  border-radius: 50%;
  background-color: #222;
}

#slider {
  width: 100%;
  height: 350px;
  position: relative;
}
#slider > .slider_box {
  width: 100%;
  height: 350px;
}
#slider > .slider_box > div {
  width: 1903px;
  height: 100%;
  position: absolute;
}
#slider > .slider_box > div.slider1 {
  background-color: #669933;
}
#slider > .slider_box > div.slider2 {
  background: #9d6836;
}
#slider > .slider_box > div.slider3 {
  background: #ff5a5a;
}
#slider > .slider_box > div.slider4 {
  background: #f7f0e7;
}
#slider > .slider_box > div.slider5 {
  background: #fffefb;
}
#slider > .slider_box > div.slider6 {
  background: #53c856;
}
#slider > .slider_box > div.slider7 {
  background: #403fa4;
}
#slider > .slider_box > div.slider8 {
  background: #157e8f;
}
#slider > .slider_box > div.slider9 {
  background-color: #6f5244;
}
#slider > .slider_box > div.slider10 {
  background: #6c17d8;
}
#slider > .slider_box > div.slider11 {
  background: #ff8616;
}
#slider > .slider_box > div.slider12 {
  background: #EEFAFF;
}
#slider > .slider_box > div.slider13 {
  background: #151A3F;
}
#slider > .slider_box > div.slider14 {
  background: #EDEAFF;
}
#slider > .slider_box > div.slider15 {
  background: #DEE2E9;
}
#slider > .slider_box > div.slider16 {
  background: #8044FF;
}
#slider > .slider_box > div.slider17 {
  background: #8FD6FF;
}
#slider > .slider_box > div > a {
  width: 1130px;
  height: 100%;
  display: block;
  transform: translate(34.4%, 0px);
}
#slider > .slider_box > div > a > img {
  width: 100%;
  height: 100%;
}

#today {
  width: 100%;
  height: 550px;
  background-color: whitesmoke;
}
#today > .today_box {
  width: 1130px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 40px;
}
#today > .today_box > ul {
  width: 100%;
  height: 360px;
  background-color: red;
  justify-content: space-around;
  margin-top: 30px;
}
#today > .today_box > ul > li {
  width: 260px;
  height: 100%;
  background-color: gold;
}
#today > .today_box > ul > li > a {
  width: 200px;
  height: 220px;
  background-color: red;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#book {
  width: 100%;
  height: 550px;
  background-color: rgb(90, 90, 90);
}
#book > .book_box {
  width: 1130px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 40px;
}
#book > .book_box > ul {
  width: 100%;
  height: 360px;
  background-color: red;
  justify-content: space-around;
  margin-top: 30px;
}
#book > .book_box > ul > li {
  width: 260px;
  height: 100%;
  background-color: gold;
}
#book > .book_box > ul > li > a {
  width: 200px;
  height: 220px;
  background-color: red;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.book_t::before {
  content: "HOT";
  width: 50px;
  height: 25px;
  background-color: tomato;
  color: #eee;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-radius: 30px;
  margin: 5px;
}