@charset "UTF-8";
#slider {
  width: 100%;
  height: 385px;
  position: relative;
}
#slider .slider_img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}
#slider .slider_img > ul {
  width: 320%;
  height: 385px;
  align-items: center;
  position: absolute;
  background-color: #5a5a5a;
  z-index: 100;
  opacity: 0;
  animation: marquee 30s linear infinite;
}
#slider .slider_img > ul > li {
  width: 500px;
  height: 280px;
  background-color: #eee;
  margin: 0 30px;
  justify-content: space-between;
}
#slider .slider_img > ul > li > h6 {
  width: 300px;
  padding: 33px 0 0 32px;
}
#slider .slider_img > ul > li > h6 > strong {
  display: block;
  font-size: 25px;
  width: 268px;
}
#slider .slider_img > ul > li > img {
  width: 165px;
  height: 230px;
  margin: 20px 20px 0 0;
  box-shadow: 1px 1px 10px #797878;
}
#slider > .slider_box {
  width: 100%;
  height: 350px;
}
#slider > .slider_box > div {
  width: 1903px;
  height: 100%;
  position: absolute;
  opacity: 0;
}
#slider > .slider_box > div.slider1 {
  background-color: #669933;
}
#slider > .slider_box > div.slider2 {
  background: #9d6836;
}
#slider > .slider_box > div.slider3 {
  background: #ff5a5a;
}
#slider > .slider_box > div.slider4 {
  background: #f7f0e7;
}
#slider > .slider_box > div.slider5 {
  background: #fffefb;
}
#slider > .slider_box > div.slider6 {
  background: #53c856;
}
#slider > .slider_box > div.slider7 {
  background: #403fa4;
}
#slider > .slider_box > div.slider8 {
  background: #157e8f;
}
#slider > .slider_box > div.slider9 {
  background-color: #6f5244;
}
#slider > .slider_box > div.slider10 {
  background: #6c17d8;
}
#slider > .slider_box > div.slider11 {
  background: #ff8616;
}
#slider > .slider_box > div.slider12 {
  background: #EEFAFF;
}
#slider > .slider_box > div.slider13 {
  background: #151A3F;
}
#slider > .slider_box > div.slider14 {
  background: #EDEAFF;
}
#slider > .slider_box > div.slider15 {
  background: #DEE2E9;
}
#slider > .slider_box > div.slider16 {
  background: #8044FF;
}
#slider > .slider_box > div.slider17 {
  background: #8FD6FF;
}
#slider > .slider_box > div > a {
  width: 1130px;
  height: 100%;
  display: block;
  transform: translate(34.4%, 0px);
}
#slider > .slider_box > div > a > img {
  width: 82%;
  height: 100%;
  margin-left: 163px;
}
#slider > .slider_box > .slider1 {
  opacity: 1;
}

#today {
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, #E4E4F4, #fff);
}
#today > .today_box {
  width: 1130px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 40px;
}
#today > .today_box > .today_t {
  line-height: 34px;
}
#today > .today_box > .today_t > h2 {
  margin-right: 15px;
}
#today > .today_box > ul {
  width: 100%;
  height: 360px;
  justify-content: space-around;
  margin-top: 30px;
}
#today > .today_box > ul > li {
  width: 260px;
  height: 100%;
  text-align: center;
}
#today > .today_box > ul > li > a {
  width: 260px;
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4);
}
#today > .today_box > ul > li > a > img {
  width: 150px;
  height: 200px;
  margin-top: 43px;
}
#today > .today_box > ul > li > p {
  width: 200px;
  margin: 20px 0;
  font-size: 13px;
  padding-left: 30px;
}
#today > .today_box > ul > li > h6 {
  margin: 10px 0;
  color: gray;
}

#book {
  width: 100%;
  height: 600px;
  background: linear-gradient(180deg, #CCE0FB 0%, #F5F5F5 100%);
}
#book > .book_box {
  width: 1130px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 40px;
}
#book > .book_box > ul {
  width: 100%;
  height: 360px;
  justify-content: space-around;
  margin-top: 30px;
}
#book > .book_box > ul > li {
  width: 260px;
  height: 100%;
  text-align: center;
}
#book > .book_box > ul > li > a {
  width: 260px;
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4);
}
#book > .book_box > ul > li > a > img {
  width: 160px;
  height: 220px;
  margin-top: 43px;
}
#book > .book_box > ul > li > p {
  width: 200px;
  margin: 20px 0;
  font-size: 13px;
  padding-left: 30px;
}
#book > .book_box > ul > li > h6 {
  margin: 10px 0;
  color: gray;
}

.book_t::before {
  content: "HOT";
  width: 50px;
  height: 25px;
  background-color: tomato;
  color: #eee;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-radius: 30px;
  margin: 5px 10px 5px 5px;
}

#book_kind {
  width: 1130px;
  height: 967px;
  margin: 0 auto;
}
#book_kind > h2 {
  margin: 52px 0 30px 0;
  font-family: "LINESeedKR-Bd";
}
#book_kind .book_list > ul {
  width: 1130px;
  height: 65px;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
}
#book_kind .book_list > ul > li {
  width: 12%;
  height: 30px;
  float: left;
  border: 0.5px solid #eee;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  margin: 10px 13.9px;
  border-bottom: 1px solid #eee;
  font-family: "LINESeedKR";
}
#book_kind .book_list > ul li.action {
  background: #222;
  color: #eee;
}
#book_kind .book_list li:first-of-type {
  margin-left: 0;
}
#book_kind .book_list li:last-of-type {
  margin-right: 0;
}
#book_kind .book_list li:hover {
  cursor: pointer;
}
#book_kind .books {
  margin-top: 10px;
  position: relative;
}
#book_kind .books > div {
  width: 100%;
  height: 830px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 8px;
  counter-reset: number 0;
}
#book_kind .books > div > div {
  width: 194px;
  height: 395px;
  margin: 10px 0;
  text-align: center;
  position: relative;
}
#book_kind .books > div > div h3 {
  font-size: 16px;
  width: 172px;
  padding: 9px 0;
  margin: 0 auto;
  text-align: left;
}
#book_kind .books > div > div h6 {
  width: 172px;
  padding: 9px 0;
  margin: 0 auto;
  text-align: left;
}
#book_kind .books > div > div::before {
  counter-increment: number 1;
  content: counter(number);
  color: #eee;
  background-color: #222;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 1px;
  left: 10px;
}
#book_kind .books > div img {
  width: 195x;
  height: 250px;
  border: 0.5px solid #eee;
}

#writers {
  width: 1903px;
  height: 350px;
}
#writers .wr_t {
  width: 1130px;
  height: 117px;
  margin: 0 auto;
}
#writers .wr_t > h2 {
  margin: 0 0 30px 0;
}
#writers .wr_t > p {
  margin-bottom: 30px;
}
#writers .writers_h {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#writers .writers_h ul {
  width: 150%;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  padding: 36px 0;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#writers .writers_h ul > li {
  width: 120px;
  height: 174px;
  margin-right: 60px;
}
#writers .writers_h ul > li > a > img {
  border-radius: 50%;
}
#writers .writers_h ul > li > a > h4 {
  text-align: center;
  font-family: "LINESeedKR-Bd";
}
#writers .writers_h ul > li > a > h6 {
  text-align: center;
  font-family: "LINESeedKR";
  font-weight: normal;
}

#recommendation {
  width: 1130px;
  height: 380px;
  margin: 0 auto;
}
#recommendation > h2 {
  margin: 20px 0 40px 0;
}
#recommendation > ul {
  width: 100%;
  height: 200px;
  justify-content: space-between;
}
#recommendation > ul > li {
  width: 140px;
  height: 100%;
}
#recommendation > ul > li > a {
  width: 100%;
  height: 180px;
}
#recommendation > ul > li > a > img {
  width: 100%;
  height: 100%;
  border: 0.5px solid #eee;
}
#recommendation > ul > li > h4 {
  margin: 10px 0;
}
#recommendation > ul > li > small {
  font-size: 8px;
}
#recommendation > ul > li > strong {
  font-size: 14px;
}
#recommendation > ul > li:nth-of-type(1) strong::after {
  content: "46%";
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 7px;
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 11px;
  color: #eee;
  text-align: center;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}
#recommendation > ul > li:nth-of-type(2) strong::after {
  content: "0%";
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 7px;
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 11px;
  color: #eee;
  text-align: center;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}
#recommendation > ul > li:nth-of-type(3) strong::after {
  content: "38%";
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 7px;
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 11px;
  color: #eee;
  text-align: center;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}
#recommendation > ul > li:nth-of-type(4) strong::after {
  content: "37%";
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 7px;
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 11px;
  color: #eee;
  text-align: center;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}
#recommendation > ul > li:nth-of-type(5) strong::after {
  content: "29%";
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 7px;
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 11px;
  color: #eee;
  text-align: center;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}
#recommendation > ul > li:nth-of-type(6) strong::after {
  content: "0%";
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 7px;
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 11px;
  color: #eee;
  text-align: center;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}
#recommendation > ul > li:nth-of-type(7) strong::after {
  content: "38%";
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 7px;
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 11px;
  color: #eee;
  text-align: center;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}

#key_menu {
  width: 100%;
  height: 115px;
  position: relative;
  padding: 35px 0 0 0;
  overflow: hidden;
}
#key_menu > span:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #222;
  border: 0.5px silid transparent;
}
#key_menu > span.prev_ {
  width: 30px;
  height: 30px;
  position: absolute;
  line-height: 26px;
  left: 344px;
  top: 50px;
  border-radius: 50%;
  border: 0.5px solid #eee;
  text-align: center;
  color: #eee;
  cursor: pointer;
  z-index: 10;
}
#key_menu > span.next_ {
  width: 30px;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 344px;
  top: 50px;
  border-radius: 50%;
  border: 0.5px solid #eee;
  text-align: center;
  color: #eee;
  cursor: pointer;
  z-index: 10;
}
#key_menu > .key_hidden {
  width: 1903px;
  height: 62px;
  margin: 0 auto;
}
#key_menu > .key_hidden > ul.key_ul {
  width: 300%;
  height: 60px;
}
#key_menu > .key_hidden > ul.key_ul > li.l1 {
  background: rgb(192, 232, 255);
}
#key_menu > .key_hidden > ul.key_ul > li.l2 {
  background: rgb(128, 68, 255);
}
#key_menu > .key_hidden > ul.key_ul > li.l3 {
  background: rgb(202, 225, 207);
}
#key_menu > .key_hidden > ul.key_ul > li.l1 img {
  height: 85px;
}
#key_menu > .key_hidden > ul.key_ul > li.l3 img {
  height: 96px;
}
#key_menu > .key_hidden > ul.key_ul > li {
  width: 1903px;
  height: 62px;
  position: relative;
}
#key_menu > .key_hidden > ul.key_ul > li > a {
  display: block;
  width: 1130px;
  height: 62px;
  position: absolute;
  bottom: 0;
  left: 388px;
}
#key_menu > .key_hidden > ul.key_ul > li img {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
}

#keyword {
  width: 1130px;
  height: 420px;
  margin: 0 auto;
}
#keyword > h2 {
  margin: 30px 0;
}
#keyword > div {
  width: 1130px;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-around;
}
#keyword > div > div {
  position: relative;
}
#keyword > div > div.k1::before {
  content: "#리뷰쓰고 혜택받기";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}
#keyword > div > div.k2::before {
  content: "#신학기 100원딜";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}
#keyword > div > div.k3::before {
  content: "#한능검 이벤트";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}
#keyword > div > div.k4::before {
  content: "#주간 베스트셀러";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}
#keyword > div > div.k5::before {
  content: "#공부서점 혜택가이드";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}
#keyword > div > div.k6::before {
  content: "#플러스 멤버십";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}
#keyword > div > div.k7::before {
  content: "#애드온이벤트";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}
#keyword > div > div.k8::before {
  content: "#분철 서비스";
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "LINESeedKR-Bd";
  color: #222;
}

#main_b {
  width: 100%;
  height: 900px;
  position: relative;
  background: url("https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/2021/main/book_split_bg.png") no-repeat center top;
}
#main_b .main_b_img {
  width: 850px;
  height: 228px;
  position: relative;
  left: 28%;
  justify-content: space-between;
}
#main_b .main_b_img > p {
  font-size: 35px;
  padding: 75px 0;
  color: #eee;
}
#main_b .main_b_img > p > strong {
  color: #eee;
}
#main_b .main_b_img .main_b_count {
  text-align: right;
}
#main_b .main_b_img .main_b_count > p {
  font-size: 20px;
  color: #eee;
  padding: 72px 16px;
}
#main_b .main_b_img .main_b_count > p > strong {
  font-size: 35px;
  color: #eee;
}
#main_b .main_b_img::before {
  content: "";
  position: absolute;
  top: 140px;
  right: -111px;
  width: 372px;
  height: 293px;
  background: url("https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/2021/main/split_book.png");
  z-index: 10;
}
#main_b .m_text {
  width: 840px;
  height: 150px;
  margin: 0 auto;
}
#main_b .m_text > .m_text_box {
  width: 526px;
  font-size: 13px;
  color: #eee;
  line-height: 20px;
}
#main_b .m_text > .m_text_box > strong {
  font-size: 16px;
  font-family: "LINESeedKR-Bd";
  color: #eee;
}
#main_b .m_text > a {
  font-size: 13px;
  color: #eee;
  line-height: 50px;
  letter-spacing: -1px;
}
#main_b .m_text > ul {
  width: 830px;
  height: 300px;
  margin-top: 28px;
  justify-content: space-between;
}
#main_b .m_text > ul > li {
  width: 270px;
  height: 271px;
}
#main_b .m_text > ul > li > img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
}
#main_b .m_text .r_btn {
  width: 900px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
#main_b .m_text .r_btn > p {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0.5px solid #eee;
  position: absolute;
  top: 65px;
  text-align: center;
  color: #eee;
  line-height: 25px;
}
#main_b .m_text .r_btn > .prev_r {
  left: -45px;
  padding-right: 1px;
}
#main_b .m_text .r_btn > .next_r {
  right: 15px;
  padding-left: 5px;
}
#main_b .m_text .r_btn p:hover {
  background-color: #eee;
  color: #222;
}
#main_b .m_text .review {
  width: 830px;
  height: 116px;
  overflow: hidden;
  margin: 30px 0;
}
#main_b .m_text .review > .rev {
  width: 6640px;
  height: 100px;
  margin-top: 0;
  border-bottom: 0.5px solid #eee;
  border-top: 0.5px solid #eee;
  align-items: center;
}
#main_b .m_text .review > .rev > li {
  width: 100%;
  height: auto;
}
#main_b .m_text .review > .rev > li > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main_b .m_text .review > .rev > li > a img {
  width: 60px;
  height: 60px;
}
#main_b .m_text .review > .rev > li > a span {
  width: 570px;
}

#text {
  width: 1130px;
  height: 560px;
  margin: 0 auto;
}
#text > img {
  margin-top: 10px;
}

#kind,
#new {
  width: 1130px;
  height: 450px;
  margin: 0 auto;
}
#kind h2,
#new h2 {
  margin: 10px 0;
}
#kind > p,
#new > p {
  line-height: 45px;
  border-bottom: 1px solid lightgrey;
}
#kind > ul,
#new > ul {
  margin-top: 20px;
}
#kind > ul > li,
#new > ul > li {
  width: 160px;
  height: 305px;
  margin: 5px;
}
#kind > ul > li > a,
#new > ul > li > a {
  width: 138px;
  height: 198px;
}
#kind > ul > li > a > img,
#new > ul > li > a > img {
  width: 100%;
  height: 198px;
  border: 0.5px solid #eee;
}
#kind > ul > li > h3,
#new > ul > li > h3 {
  margin: 10px 0;
}
#kind > ul > li > h6,
#new > ul > li > h6 {
  color: gray;
}

.sb {
  width: 1130px;
  height: 150px;
  margin: 0 auto;
}