@charset "UTF-8";
.flex_ {
  display: flex;
}

#catalog {
  width: 1130px;
  height: 105px;
  margin: 0 auto;
  position: relative;
  z-index: 140;
  justify-content: space-between;
}
#catalog > ul {
  width: 30%;
  height: 100%;
  justify-content: space-around;
  text-align: center;
  color: #c2c2c2;
}
#catalog > ul > li {
  width: 111px;
  line-height: 80px;
  font-size: 12px;
}
#catalog > ul > li:nth-of-type(1) {
  width: 30px;
}
#catalog > ul > li:nth-of-type(2) {
  width: 80px;
}
#catalog > ul > li:nth-of-type(3) {
  width: 95px;
}
#catalog > ul > li:nth-of-type(4) {
  width: 60px;
}
#catalog > ul > li:nth-of-type(5) {
  width: 110px;
}
#catalog > ul > li:nth-of-type(6) {
  width: 85px;
}
#catalog > a {
  display: inline-block;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}
#catalog > a > img {
  width: 100%;
  height: 100%;
}
#catalog > #btn_box {
  width: 80px;
  height: 90px;
  line-height: 110px;
}
#catalog > #btn_box > a {
  display: inline-block;
  width: 30px;
  height: 30px;
}
#catalog .good {
  background: url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/share.png") no-repeat left 1px;
}
#catalog .whis {
  background: url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/price/keep_m.png") no-repeat left 1px;
}

#book_kind {
  width: 1130px;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 11;
  justify-content: space-between;
}
#book_kind > .book_img_b {
  width: 480px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#book_kind > .book_img_b > .book_img {
  width: 500px;
  align-self: center;
  margin-top: 30px;
}
#book_kind > .book_img_b > .book_img > .b_img {
  text-align: center;
}
#book_kind > .book_img_b > .book_img > .b_img > img {
  display: inline-block;
  width: 345px;
  height: 450px;
  box-shadow: 5px 5px 25px #c2c2c2;
  vertical-align: super;
}
#book_kind > .book_img_b > .book_img .book_text {
  width: 100%;
  height: 88px;
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
}
#book_kind > .book_img_b > .book_img .book_text > a {
  display: inline-block;
  width: 90px;
  font-size: 12px;
  line-height: 25px;
  background: url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/icon/book_3.png") no-repeat left 0;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
  margin-left: 20px;
  color: #a3a3a3;
}
#book_kind > .book_img_b > .book_img .book_text > p {
  line-height: 35px;
  font-size: 13px;
  color: #222222;
}
#book_kind > .book_img_b > .book_img .book_text > .p_img {
  background: url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/icon/best.png") no-repeat left 0;
  width: 154px;
  margin: 0 auto;
  line-height: 18px;
  padding-left: 28px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
}
#book_kind > .book_img_b > .book_img .review_star {
  width: 100%;
  height: 90px;
  text-align: center;
  font-size: 13px;
  line-height: 23px;
}
#book_kind > .book_img_b > .book_img .review_star > img {
  width: 127px;
  height: 23px;
}
#book_kind > .book_img_b > .book_img .review_star > a {
  display: block;
  color: #a3a3a3;
}
#book_kind > .sell {
  width: 580px;
  height: auto;
}
#book_kind > .sell > .title {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid rgba(209, 209, 209, 0.2941176471);
}
#book_kind > .sell > .title > h3 {
  margin-bottom: 20px;
}
#book_kind > .sell > .title > p {
  font-size: 12px;
  color: #c2c2c2;
}
#book_kind > .sell > .title > .int_B > a {
  display: block;
  border-radius: 100px;
  color: #222222;
  text-align: center;
  font-size: 12px;
  margin: 20px 10px 0 0;
}
#book_kind > .sell > .title > .int_B > .in1 {
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(249, 238, 252);
}
#book_kind > .sell > .title > .int_B > .in2 {
  width: 110px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(249, 238, 252);
}
#book_kind > .sell > .title > .int_B > .in3 {
  width: 115px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(226, 226, 226, 0.4784313725);
}
#book_kind > .sell > .title > .int_B > .in4 {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(226, 226, 226, 0.4784313725);
}
#book_kind > .sell .bc {
  width: 100%;
  height: 160px;
  align-items: center;
  margin-top: 15px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.3137254902);
}
#book_kind > .sell .bc > .bc_ti {
  width: 100px;
  height: 100px;
}
#book_kind > .sell .bc > .bc_ti > a {
  width: 48px;
  height: 20px;
  display: block;
  font-size: 11px;
  background-color: #222222;
  border-radius: 6px;
  color: #eee;
  margin-top: 10px;
  margin-left: 3.5px;
  text-align: center;
  line-height: 20px;
}
#book_kind > .sell .bc > .sec > select {
  width: 473px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid rgba(163, 163, 163, 0.3137254902);
}
#book_kind > .sell .bc > .sec > .tex > p {
  font-size: 12px;
  color: #a3a3a3;
  line-height: 20px;
}
#book_kind .Benefit {
  width: 100%;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid rgba(163, 163, 163, 0.3137254902);
}
#book_kind .Benefit > .bene {
  width: 85px;
}
#book_kind .Benefit > .bene > h4 {
  line-height: 30px;
}
#book_kind .Benefit > .be_t > p {
  height: 26px;
  border: 1px solid rgba(163, 163, 163, 0.3137254902);
  font-size: 11px;
  border-radius: 9px;
  margin: 0 10px;
  text-align: center;
  line-height: 29px;
  padding-left: 16px;
}
#book_kind .Benefit > .be_t > .be1 {
  width: 65px;
  background: #FFFFFF url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/badges/icon_2.png") no-repeat 10px 9px;
}
#book_kind .Benefit > .be_t > .be2 {
  width: 82px;
  background: #FFFFFF url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/badges/icon_5.png") no-repeat 10px 7px;
}
#book_kind .Benefit > .be_t > .be3 {
  width: 63px;
  background: #FFFFFF url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/badges/icon_3.png") no-repeat 10px 6px;
}
#book_kind .count-num {
  width: 100%;
  height: 90px;
  align-items: center;
}
#book_kind .count-num .count_t {
  width: 95px;
}
#book_kind .count-num .price-count {
  width: 200px;
  margin-top: 5px;
}
#book_kind .count-num .price-count > button {
  border: none;
}
#book_kind .count-num .price-count .ma {
  background: #FFFFFF url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/price/btn_minus.png") no-repeat 2px 0px;
  background-size: 32px;
  width: 33px;
  height: 33px;
}
#book_kind .count-num .price-count > input {
  width: 55px;
  height: 30px;
  border: 1px solid rgba(163, 163, 163, 0.3137254902);
  text-align: center;
}
#book_kind .count-num .price-count > input:focus {
  outline: none;
}
#book_kind .count-num .price-count .pl {
  background: #FFFFFF url("//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/price/btn_plus.png") no-repeat -1px 0;
  background-size: 32px;
  width: 33px;
  height: 33px;
}
#book_kind .count-num .disc {
  width: 280px;
  justify-content: flex-end;
}
#book_kind .count-num .disc > span {
  font-size: 20px;
  color: rgba(119, 119, 119, 0.5568627451);
  text-decoration: line-through;
  margin-top: 69px;
}
#book_kind .discount_price {
  width: 100%;
  height: 57px;
  justify-content: flex-end;
  margin-top: 10px;
}
#book_kind .discount_price > p {
  width: 65px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: "LINESeedKR-Bd";
}
#book_kind .discount_price > span {
  width: auto;
  height: 50px;
  font-size: 35px;
  font-family: "LINESeedKR-Bd";
  text-align: right;
}
#book_kind .d-te {
  width: 100%;
  height: 30px;
  justify-content: flex-end;
}
#book_kind .d-te .ga::before {
  content: "적립";
  display: inline-block;
  width: 35px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 30px;
  font-size: 11px;
  background-color: tomato;
  color: #FFFFFF;
}
#book_kind .d-te .ga::after {
  content: "적립금 975원";
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 30px;
  font-size: 11px;
  color: tomato;
}
#book_kind .d-te .gi::after {
  content: "(5%)";
  display: inline-block;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 30px;
  font-size: 11px;
  color: #222222;
}
#book_kind .sell_btn {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
#book_kind .sell_btn > button {
  width: 50%;
  height: 100%;
  border: 1px solid rgba(119, 119, 119, 0.5568627451);
  background-color: transparent;
  font-size: 17px;
  font-family: "LINESeedKR-Bd";
  color: #222222;
}
#book_kind .sell_btn > button:hover {
  cursor: pointer;
}
#book_kind .sell_btn .buy {
  background-color: rgba(37, 20, 68, 0.849);
  color: #eee;
  box-shadow: 1px 1px 10px rgba(34, 34, 34, 0.368627451);
}
#book_kind .in-b {
  width: 100%;
  height: 107px;
  margin-top: 25px;
  border: 1px solid rgba(163, 163, 163, 0.3137254902);
  padding: 25px;
  border-radius: 5px;
  color: rgba(185, 185, 185, 0.231372549);
}
#book_kind .in-b > .in-t {
  width: 95px;
  font-size: 12px;
}
#book_kind .in-b > .in-t > p {
  height: 20px;
}
#book_kind .in-b > .in-t2 {
  font-size: 12px;
}
#book_kind .in-b > .in-t2 > p {
  height: 20px;
}

#review {
  width: 1130px;
  height: 200px;
  margin: 0 auto;
}
#review > #re_a_box {
  border: 1px solid rgba(163, 163, 163, 0.3137254902);
  position: relative;
  padding: 20px;
  margin: 80px 0;
}
#review > #re_a_box > .re_te {
  width: 100%;
  height: 33px;
  line-height: 25px;
}
#review > #re_a_box > .re_te > p {
  font-family: "LINESeedKR-Bd";
}
#review > #re_a_box > .re_te > a {
  display: inline-block;
  width: 100px;
  font-size: 11px;
  text-align: center;
}
#review > #re_a_box > .re-bt > div {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid transparent;
  color: rgba(163, 163, 163, 0.3137254902);
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(34, 34, 34, 0.1568627451);
}
#review > #re_a_box > .re-bt > div:hover {
  background-color: #a3a3a3;
  color: #FFFFFF;
}
#review > #re_a_box > .re-bt .prev {
  left: -56px;
}
#review > #re_a_box > .re-bt .next {
  right: -56px;
  padding-left: 5px;
}
#review > #re_a_box > .re_box {
  width: 1130px;
  height: 66%;
  overflow: hidden;
}
#review > #re_a_box > .re_box > .re_hidden {
  width: 500%;
  height: 100%;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b {
  width: 1130px;
  height: 100%;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b > div {
  width: 50%;
  height: 100%;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b > div > .r-img > img {
  width: 130px;
  height: 130px;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b > div > .r-t {
  width: 66%;
  height: 104px;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b > div > .r-t > ul {
  font-size: 12px;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b > div > .r-t > ul > li {
  line-height: 30px;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b > div > .r-t > p {
  font-size: 14px;
  line-height: 30px;
  font-family: "LINESeedKR-Bd";
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b > div > .r-t > span {
  font-size: 12px;
  line-height: 30px;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b .rev1 {
  justify-content: space-around;
}
#review > #re_a_box > .re_box > .re_hidden > .rev-b .rev2 {
  justify-content: space-around;
}

#buy_list {
  width: 100%;
  height: 450px;
  position: relative;
  margin: 80px 0;
}
#buy_list > .buy_box {
  width: 1130px;
  height: 330px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(119, 119, 119, 0.3843137255);
}
#buy_list > .buy_box > ul {
  width: 100%;
  height: 50px;
}
#buy_list > .buy_box > ul > li {
  width: 200px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #a3a3a3;
  border-bottom: none;
}
#buy_list > .buy_box > ul > li > a {
  font-family: "LINESeedKR-Bd";
}
#buy_list > .buy_box > .buy-all {
  width: 1903px;
  height: 400px;
  background: rgba(219, 219, 219, 0.1921568627);
  position: absolute;
  left: 0;
}
#buy_list > .buy_box > .buy-all > .buy_kind {
  width: 100%;
  height: 320px;
  transform: translate(20.5%, 0);
  margin-top: 20px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon {
  width: 250px;
  height: 100%;
  position: relative;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon > h3 {
  width: 160px;
  height: 100px;
  line-height: 25px;
  padding: 19px 0 0 10px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon > .ch_b {
  position: absolute;
  top: 220px;
  left: -10px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon > .ch_b > #ad {
  margin-left: 10px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon > .ch_b > label {
  font-size: 13px;
  margin-left: 10px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon > .ad_bt {
  width: 100%;
  margin-top: 150px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon > .ad_bt > a {
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 25px;
  border: 1px solid #a3a3a3;
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .adon > .ad_bt > a > img {
  width: 15px;
  height: 15px;
  margin-left: -10px;
  margin-right: 10px;
  margin-bottom: -4px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk {
  width: 880px;
  height: 320px;
  position: relative;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .adchk-bt > div {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid transparent;
  color: rgba(163, 163, 163, 0.3137254902);
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(34, 34, 34, 0.1568627451);
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .adchk-bt > .ad-prev {
  padding-right: 4px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .adchk-bt > .ad-next {
  right: -25px;
  padding-left: 5px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .adchk-bt > div:hover {
  background-color: #a3a3a3;
  color: #FFFFFF;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden {
  width: 860px;
  height: 320px;
  overflow: hidden;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul {
  width: 140%;
  justify-content: space-around;
  margin-left: 40px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li {
  width: 155px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > input {
  position: relative;
  top: 17px;
  left: -20px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > .adimg > a {
  width: 120px;
  height: 150px;
  border: 1px solid #a3a3a3;
  align-items: center;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > .adimg > a > img {
  width: 118px;
  height: 130px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > h4 {
  font-weight: lighter;
  height: 50px;
  width: 123px;
  margin-top: 11px;
  font-size: 15px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > p {
  width: 123px;
  font-size: 15px;
  font-family: "LINESeedKR-Bd";
  text-align: center;
  line-height: 30px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > span {
  display: inline-block;
  width: 30px;
  font-size: 12px;
  margin-left: 25px;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > .sale {
  color: tomato;
  font-weight: bold;
}
#buy_list > .buy_box > .buy-all > .buy_kind > .ad_chk > .ad_hidden > ul > li > .no {
  margin-left: 10px;
}