@charset "utf-8"; 
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
$fontColor: #222222;
*{ 
    margin: 0; 
   padding: 0; 
   list-style: none;
   text-decoration: none;
   color: $fontColor;

} 
.header_1{
    width: 100%;
    height: 50px;
    line-height: 50px;;
    border-top: 5px solid #182c8d;
    position: relative;
    
    ul{
            width: 32%;
            height: 40px;
            justify-content: flex-end;
            right: 30px;
            position: absolute;
            top: 0;
        li{
            width: 80px;
            height: 20px;
            text-align: center;
            font-size: 8px;
            border-right: 1px solid #222;
            font-family: "LINESeedKR";
            font-weight: bold;
            align-self: end ;
            position: relative;
            padding: 0 0 0 4px;
                a{
                width: 100%;
                position: absolute;
                top:-16px;
                right: 3px;
            }
        }
    
    }    
}
.header_1{
    li:nth-of-type(1){
    width: 40px;
    }
}
.header_1{
li:nth-of-type(2){
    width: 60px;
}
}
.header_1{
    li:nth-of-type(3){
        width: 65px;
    }
}
.header_1{
    li:nth-of-type(5){
         border: 0px;
    }
}
.flex_{
    display: flex;
} 

#header_box{
    width: 1200px;
    margin:0 auto;
    #logo{
        
    }
}

