@charset "utf-8";

.flex_ {
    display: flex;
}


#catalog {
    width: 1130px;
    height: 105px;
    margin: 0 auto;
    position: relative;
    z-index: 140;
    justify-content: space-between;

    >ul {
        width: 30%;
        height: 100%;
        justify-content: space-around;
        text-align: center;
        color: #c2c2c2;

        >li {
            width: 111px;
            line-height: 80px;
            font-size: 12px;

        }

        >li:nth-of-type(1) {
            width: 30px;
        }

        >li:nth-of-type(2) {
            width: 80px;
        }

        >li:nth-of-type(3) {
            width: 95px;
        }

        >li:nth-of-type(4) {
            width: 60px;
        }

        >li:nth-of-type(5) {
            width: 110px;
        }

        >li:nth-of-type(6) {
            width: 85px;
        }
    }

    >a {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        >img {
            width: 100%;
            height: 100%;

        }


    }

    >#btn_box {
        width: 80px;
        height: 90px;
        line-height: 110px;

        >a {
            display: inline-block;
            width: 30px;
            height: 30px;
        }

    }

    .good {
        background: url('//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/share.png') no-repeat left 1px;

    }

    .whis {
        background: url('//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/price/keep_m.png') no-repeat left 1px;

    }
}

#book_kind {
    width: 1130px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 11;

    >.book_img_b {
        width: 480px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        >.book_img {
            width: 500px;
            align-self: center;
            margin-top: 30px;

            >.b_img {
                text-align: center;

                >img {
                    display: inline-block;
                    width: 345px;
                    height: 450px;
                    box-shadow: 5px 5px 25px #c2c2c2;
                    vertical-align: super;
                    ;
                }

            }

            .book_text {
                width: 100%;
                height: 88px;
                margin-top: 50px;
                text-align: center;
                font-size: 12px;

                >a {
                    display: inline-block;
                    width: 90px;
                    font-size: 12px;
                    line-height: 25px;
                    background: url('//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/icon/book_3.png') no-repeat left 0;
                    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
                    margin-left: 20px;
                    color: #a3a3a3;
                }

                >p {
                    line-height: 35px;
                    font-size: 13px;
                    color: #222222;

                }

                >.p_img {
                    background: url('//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/icon/best.png') no-repeat left 0;
                    width: 154px;
                    margin: 0 auto;
                    line-height: 18px;
                    padding-left: 28px;
                    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));

                }
            }

            .review_star {
                width: 100%;
                height: 90px;
                text-align: center;
                font-size: 13px;
                line-height: 23px;

                >img {
                    width: 127px;
                    height: 23px;
                }

                >a {
                    display: block;
                    color: #a3a3a3;
                }
            }


        }
    }

    >.sell {
        width: 600px;
        height: 100%;
        margin-left: 80px;


        >.title {
            width: 100%;
            height: 130px;
            border-bottom: 1px solid #d1d1d14b;
         
            >h3 {
                margin-bottom: 20px;
            }

            >p {
                font-size: 12px;
                color: #c2c2c2;
            }

            >.int_B {
                >a {
                    display: block;
                
                    border-radius: 100px;
                
                    color: #222222;
                    text-align: center;
                    font-size: 12px;
                    margin: 20px 10px 0 0;
                }
                >.in1{
                    width: 80px;
                    height: 30px;
                    line-height: 30px;
                    background-color: rgb(249, 238, 252);
                }
                >.in2{
                    width: 110px;
                    height: 30px;
                    line-height: 30px;
                    background-color: rgb(249, 238, 252);
                }
                >.in3{
                    width: 115px;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #e2e2e27a; 
                }
                >.in4{
                    width: 60px;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #e2e2e27a; 
                }
            }
        }
    }

} 
